.search-container{
    padding: .3rem .5rem;
    position: relative;
    .svg{
        position: absolute;
        left: 12px;
        top: 7px;
        z-index: 100;
    }
    .input-group{
        box-sizing: border-box;
        width: 100%;
        
        .input-search{
            width: 100%;
            padding: .3rem 0;
            border-radius: .1rem;
            background-color: #2a2e39;
            border: none;
            cursor: pointer;
            &:focus{
                outline-color: none;
            }
            &::placeHolder{
                padding-left: 1rem;
            }
        }
    }  
}