.button-skyneb{
    cursor: pointer;
    padding: 0.1rem .5rem;
    margin: 0;
    background-color: inherit;
    color: rgb(173, 171, 171);
    border: none;
    font-size: 0.5rem;
    &.active{
        color: white;
    }
    &:hover{
        background-color: white;
        color: black;
    }
}



