.container{
    width: 100vw;
    box-sizing: border-box;
}

.row{
    display: flex;
    width: 100%;
    align-items: flex-start;
    .left-pane{
        width: 15%;
    }
    .middle-pane{
        width: 65%;
    }
    .right-pane{
        width:20%
    }
}

.bg-dark{
    background-color: #131722;
}
.bg-primary{
    background-color: #2A2E39;
}

.text-red{
    color:#F7241E;
}

.text-green{
    color: #1DC34B;
}

.text-muted{
    color: gray;
}

.p-1{
    padding: 0.1rem 0.25rem;
}
.mr-1{
    margin-right: 0.25rem;
}