.order-book{
    color: white;
    box-sizing: border-box;
    border: 1px solid #2A2E39;
    .order-book-title{
        font-size: 0.65rem;
        margin: 0 0.1rem;
        padding: 0.2rem 1rem;
    }
    .order-book-table{
        width: 100%;
        .order-book-row{
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #2A2E39;
            line-height: 1rem;
            position: relative;
            .background-red{
                position: absolute;
                height: 100%;
                right: 0;
                top:0;
                background-color: rgba(255, 0, 0, 0.541) !important;
                z-index: 1000;
            }
            .background-green{
                position: absolute;
                height: 100%;
                right: 0;
                top:0;
                background-color: rgba(94, 255, 0, 0.5) !important;
                z-index: 1000;
            }
            .order-book-column{
                width: 33%;
                font-size: .5rem;
                text-align: center;
                margin: auto;
            }
        }
    }
}

